*.pdf
.ipynb_checkpoints/
Dataset/bsds500/test/*
Dataset/bsds500/trainval/*
Dataset/msrc2_seg/gt/*
Dataset/msrc2_seg/gt/*
Dataset/msrc2_seg/gt_label/*
Dataset/msrc2_seg/images/*
Dataset/msrc2_seg/msrc2_seg.zip

demo

test.py
test1.py
unet.ipynb
.idea/

model/
